$mainTextColor: #000000;
$light: #ffffff;
$borderGrey: #AFAFAF;
$linkGrey: #777777;
$currencyGrey: #939393;
$inputBorder: #A0A0A0;
$tagBg: #F1EEE9;
$cartBorder: #9E9E9E;
$inputText: #424141;
$selectBorder: #9C9C9C;
$tipText: #585858;
$deliveryLink: #4B4B4B;
$paymentBg: #F8F8F8;
$proposalBg: #FFFBEC;
