@font-face {
  font-family: 'CooperBTLight';
  src: local('Rajdhani'), url(../assets/fonts/CooperBTLight.woff) format('woff');
}

@font-face {
  font-family: 'NeueHaasUnicaLight';
  src: local('Rajdhani'), url(../assets/fonts/NeueHaasUnicaLight.woff) format('woff');
}

@font-face {
  font-family: 'NeueHaasUnicaUltraLight';
  src: local('Rajdhani'), url(../assets/fonts/NeueHaasUnicaUltraLight.woff) format('woff');
}

@font-face {
  font-family: 'NeueHaasUnicaRegular';
  src: local('Rajdhani'), url(../assets/fonts/NeueHaasUnicaRegular.woff) format('woff');
}

@font-face {
  font-family: 'NeueHaasUnicaBold';
  src: local('Rajdhani'), url(../assets/fonts/NeueHaasUnicaBold.woff) format('woff');
}

@font-face {
  font-family: 'MontserratMedium';
  src: local('Rajdhani'), url(../assets/fonts/MontserratMedium.ttf) format('truetype');
}

@font-face {
  font-family: 'NeueHaasUnicaMedium';
  src: local('Rajdhani'), url(../assets/fonts/NeueHaasUnicaMedium.woff) format('woff');
}
